[user]
	email = nyatalieeee@proton.me
	name = Natalie Raine
	signingKey = /home/ny/.ssh/id_ed25519
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgSign = true
